/* Home */
.title {
    text-align: center;
    border: 1px solid black;
    height:75px;
}

.title #headerIcon {
    float: left;
    width: 60px;
    height: 60px;
    background: url("Images/shop.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10px;
    margin-left: 10px;
}

.title #headerTitle {
    display: inline-block;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgba(234, 14, 52, 0.8431372549019608);
}

.title #homeLogout {
    float: right;
     margin-top: 20px;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgba(234, 14, 52, 0.8431372549019608);
    outline: none;
    cursor: pointer;
}

.shoppingCategoryCards {
    width: 100%;
    margin-top: 3%;
}

.shoppingCategoryCards nav {
    width: 28%;
    height: 60vh;
    border: 1px solid black;
    margin-left: 3%;
    color: rgba(234, 14, 52, 0.8431372549019608);
    display: inline-block;
}

.shoppingCategoryCards .menCard {
    margin-left: 5%;
    display: inline-block;
    background: url("Images/men3.jpeg");
    background-size: cover;
}

.shoppingCategoryCards .womenCard {
    background: url("Images/women1.jpeg");
    background-size: cover;
}

.shoppingCategoryCards .kidsCard {
    background: url("Images/kids1.jpeg");
    background-size: cover;
}

.shoppingCategoryCards nav div {
    width: 50%;
    margin-top: 470px;
    margin-left: 24%;
    text-align: center;
    background-color: white;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid white;
}

.shoppingCategoryCards nav div:hover {
    box-shadow: 2px 2px 2px -1px white, -2px -2px 2px -1px white;
    cursor: pointer;
}

/* Men*/
.mensPage {
    height: 18vh;
    width: 100%;
    text-align: center;
    background: url("Images/mensite1.jpeg");
    background-size: cover;
}

.mensPage #mensPageTitle {
    display: inline-block;
    margin-top: 3%;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    background-color: white;
    opacity: 0.95;
}

.mensPage #redirectHome {
    font-size: 25px;
    font-weight: bold;
    color: rgba(234, 14, 52, 0.8431372549019608);
    float: right;
    margin-top: 4%;
    margin-right: 2%;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
}

.imageContainer {
    width: 100%;
    height: 100%;
    background-color: rgba(240, 206, 212, 0.247);
    ;
}

.imageContainer div {
    display: inline-block;
    height: 50%;
    width: 35%;
    margin-left: 10vw;
    margin-top: 2%;
}

.imageContainer div p {
    color: rgba(234, 14, 52, 0.8431372549019608);
    font-weight: bold;
}

.imageContainer div img {
    width: 380px;
    height: 350px;
}

.imageContainer div img:hover {
    box-shadow: 2px 2px 2px 0px black, -2px -2px 2px 0px black;
}

#arContainer {
    width: 100%;
    height: 80vh;
    display: none;
}

.itemNoDisplay {
    display: none;
}

.itemDisplay {
    display: block;
}

/* ShoppingWorldAr */
.shoppingWorldAr {
    overflow: hidden;
}

.shoppingWorldAr a-scene {
    height: 1115px
}

.shoppingWorldAr .arButtonScreen {
    width: 8%;
    height: 8%;
    position: relative;
    display: inline-block;
    margin-top: 150px;
    margin-left: 16%;
    font-size: 30px;
    border-radius: 50%;
    border: 1px solid black;
    outline: none;
}

.shoppingWorldAr button:hover {
    cursor: pointer;
    background-color: red;
}

.a-enter-vr .a-enter-vr-button {
    display: none!important;
}

#arjsDebugUIContainer {
    display: none;
}

/* Responsive  */

@media screen and (max-width:900px) {

    /* Home */
    .title {
        height:50px;
    }
    .title #headerIcon {
       width: 40px;
       height: 40px;
       margin-top:5px;
    }

    .title #headerTitle {
        font-size:20px;
        margin-top:15px;
    }

    .title #homeLogout {
        font-size: 12px;
        margin-top:15px;
        margin-right:5px;
    }

    .title #headerIcon {
        height: 48px;
        margin-top:5px;
    }

    .shoppingCategoryCards nav {
        width: 85%;
        height: 57vh;
        margin-left: 5%;
        margin-top: 2%;

    }

    .shoppingCategoryCards nav div {
        margin-top: 611px;
        margin-left: 20%;
        font-size: 150%;
    }

    /* Men */
    .mensPage {
        height: 13vh;
    }

    .mensPage #mensPageTitle {
        margin-left: -5px;
        margin-top: 6%;
        font-size: 18px;
    }

    .mensPage #redirectHome {
        font-size: 13px;
        margin-top: 7%;
        margin-right: 1%;
    }

    .imageContainer {
        width: 110%;
    }

    .imageContainer div {
        height: 50%;
        width: 50%;
        margin-left: 1vw;
        margin-top: 2%;
    }

    .imageContainer div img {
        width: 178%;
    }

    /* ShoppingAr */
    a-scene {
        display: block;
        position: relative;
        height: 1520px;
        width: 30%;
        margin-left: 29%;
        margin-top: 10%;
    }

    .shoppingWorldAr #arBackBtn {
        margin-left: 29%;
    }

    .shoppingWorldAr .arButtonScreen {
        width: 5%;
        margin-top: 3%;
        margin-left: 5%;
    }
}

@media screen and (max-height:800px) {
    .title {
    }

    .title #headerTitle {
    }

    .shoppingCategoryCards nav {
        width: 90%;
    }

    .shoppingCategoryCards nav div {
        margin-top: 99%;
        margin-left: 20%;
        font-size: 150%;
    }

}

@media screen and (min-height:800px)and (max-height:900px) {
     /* Home */
    .title {
    }

    .title #headerTitle {
    }

    .shoppingCategoryCards nav div {
        margin-top: 426px;
        margin-left: 20%;
        font-size: 150%;
    }

     /* ShoppingAr */
     .shoppingWorldAr #arBackBtn {
        margin-left: 34%;
    }

    .shoppingWorldAr .arButtonScreen {
        margin-left: 3%;
    }

}

@media screen and (min-height:1300px) {

    /* Home */
    .title {
    }

    .title #headerTitle {
    }

    .title #homeLogout {
    }

    .title #headerIcon {
        height: 131px;
        margin-top: 1%;
    }

    .shoppingCategoryCards nav div {
        margin-top: 956px;
        font-size: 271%;
    }

    /* Men */

    .mensPage #mensPageTitle {
        margin-top: 6%;
        font-size: 46px;
    }

    .mensPage #redirectHome {
        font-size: 30px;
        margin-top: 7%;
        margin-right: 18%;
    }

     /* ShoppingAr */
     .shoppingWorldAr a-scene {
        height: 2145px;
    }
     .shoppingWorldAr #arBackBtn {
        margin-left: 23%;
    }

    .shoppingWorldAr .arButtonScreen {
        margin-top: 3%;
        margin-left: 4%;
        width:5%;
        height: 80px;
    }


}