/* Home */
.title {
    height: 20vh;
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

.title #headerIcon {
    float: left;
    width: 8vw;
    height: 70%;
    background: url("Images/shop.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 2%;
    margin-left: 3%;
}

.title #headerTitle {
    display: inline-block;
    margin-top: 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    font-weight: bold;
    color: rgba(234, 14, 52, 0.8431372549019608);
}
.title #homeLogout{
    float:right;
    margin-top: 4.5%;
    margin-right:5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgba(234, 14, 52, 0.8431372549019608);
    outline: none;
}
.title #homeLogout:hover{
    cursor: pointer;
}

.shoppingCategoryCards {
    width: 100%;
    margin-top: 3%;
}

.shoppingCategoryCards nav {
    width: 28%;
    height: 60vh;
    border: 1px solid black;
    margin-left: 3%;
    color: rgba(234, 14, 52, 0.8431372549019608);
    display: inline-block;
}

.shoppingCategoryCards .menCard {
    margin-left: 5%;
    display: inline-block;
    background: url("Images/men3.jpeg");
    background-size: cover;
}

.shoppingCategoryCards .womenCard {
    background: url("Images/women1.jpeg");
    background-size: cover;
}

.shoppingCategoryCards .kidsCard {
    background: url("Images/kids1.jpeg");
    background-size: cover;
}

.shoppingCategoryCards nav div {
    width: 50%;
    margin-top: 470px;
    margin-left: 24%;
    text-align: center;
    background-color: white;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid white;
}

.shoppingCategoryCards nav div:hover {
    box-shadow: 2px 2px 2px -1px white, -2px -2px 2px -1px white;
    cursor: pointer;
}

/* Men*/
.mensPage {
    height: 18vh;
    width: 100%;
    text-align: center;
    background: url("Images/mensite1.jpeg");
    background-size: cover;
}

.mensPage #mensPageTitle {
    display: inline-block;
    margin-top: 3%;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    background-color: white;
    opacity: 0.95;
}
.mensPage #redirectHome {
    font-size: 25px;
    font-weight: bold;
    color: rgba(234, 14, 52, 0.8431372549019608);
    float: right;
    margin-top:4%;
    margin-right:2%;
    border-radius: 10px;
    border:1px solid black;
    outline: none;
}

.imageContainer {
    width: 100%;
    height: 100%;
    background-color: rgba(240, 206, 212, 0.247);;
}

.imageContainer div {
    display: inline-block;
    height: 50%;
    width: 35%;
    margin-left: 10vw;
    margin-top: 2%;
}
 .imageContainer div p{
    color: rgba(234, 14, 52, 0.8431372549019608);
    font-weight: bold;
 }

.imageContainer div img {
    width: 380px;
    height: 350px;
}

.imageContainer div img:hover {
    box-shadow: 2px 2px 2px 0px black, -2px -2px 2px 0px black;
}

#arContainer {
    width: 100%;
    height: 80vh;
    display: none;
}

.itemNoDisplay {
    display: none;
}

.itemDisplay {
    display: block;
}
 /* ShoppingWorldAr */
 .shoppingWorldAr{
   overflow: hidden;
 }
 .shoppingWorldAr a-scene{
     height:1115px
 }

.shoppingWorldAr .arButtonScreen {
    width: 8%;
    height: 8%;
    position: relative;
    display: inline-block;
    margin-top:15%;
    margin-left:16%;
    font-size: 30px;
    border-radius: 50%;
    border:1px solid black;
    outline: none;
}

.shoppingWorldAr button:hover {
    cursor: pointer;
    background-color: red;
}

.a-enter-vr embedded.a-enter-vr-button{
    display:none;
}
#arjsDebugUIContainer{
    display:none;
}

/* Responsive  */

@media screen and (max-width:1100px) {
    .title {
        height: 9vh;
    }
    .title #headerTitle {
        font-size: 2em;
    }

  .title #homeLogout{
    margin-top: 3.5%;
    font-size: 50%;
    }
.title #headerIcon {
    height: 48px;
  }
  .shoppingCategoryCards nav {
    width: 50%;
    height: 57vh;
    margin-left:5%;
    margin-top:2%;

}
.shoppingCategoryCards nav div {
    margin-top: 220px;
    margin-left: 110%;
}
}
@media screen and (max-width:415px) {
    .title {
        height: 7vh;
    }
    .title #headerTitle {
        font-size: 1em;
    }
}